/*********************************************************************************************************************************/
/********************************************************** I.M.P.O.R.T **********************************************************/
/*********************************************************************************************************************************/
/***************************************************************************************************/
/**************************************** V.A.R.I.A.B.L.E.S ****************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/******************************************* M.I.X.I.N.S *******************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/******************************************* M.E.D.I.A *******************************************/
/***************************************************************************************************/
/*********************************************************************************************************************************/
/********************************************************** I.M.P.O.R.T **********************************************************/
/*********************************************************************************************************************************/
/*********************************************************************************************************************************/
/******************************************************* O.V.E.R.R.I.D.E.S *******************************************************/
/*********************************************************************************************************************************/
/***************************************************************************************************/
/****************************************** G.E.N.E.R.A.L ******************************************/
/***************************************************************************************************/
body {
  color: #666565;
  font-size: 1rem;
  font-family: "Bai Jamjuree", sans-serif;
  background: #fff;
  overflow-x: hidden;
}

.btn:focus {
  box-shadow: none !important;
}

.form-control:focus {
  box-shadow: none !important;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
  color: inherit;
}

h1, h5, h6 {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 800 !important;
  color: #272727;
}

.container {
  max-width: 1630px;
}

.heading1 {
  text-transform: capitalize;
  font-size: 50px;
  white-space: nowrap;
  line-height: 60px;
}

.heading2 {
  text-transform: uppercase;
  font-size: 70px;
  line-height: 80px;
}
@media only screen and (max-width : 576px) {
  .heading2 {
    font-size: 35px;
    line-height: 50px;
  }
}

.pt-50 {
  padding-top: 100px;
}

.padding-class {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media only screen and (max-width : 576px) {
  .padding-class {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.pb-50 {
  padding-bottom: 100px;
}

p {
  margin-bottom: 0 !important;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.modal-content {
  padding: 1.5rem 0.75rem;
  border-radius: 0;
}

.badge-warning {
  background-color: #f4722b;
}

.pt-70 {
  padding-top: 70px;
}

.font-sm {
  font-size: 14px !important;
}

.text-yellow {
  color: #fcb302 !important;
}

@media only screen and (max-width : 576px) {
  .d-none-sm {
    display: none !important;
  }
  .d-block-sm {
    display: block !important;
  }
  .ps-15-sm-device {
    padding-left: 15px !important;
  }
  .pt-3-sm {
    padding-top: 1rem !important;
  }
  .mb-0-sm {
    margin-bottom: 0 !important;
  }
}
/*********************************************************************************************************************************/
/******************************************************* O.V.E.R.R.I.D.E.S *******************************************************/
/*********************************************************************************************************************************/
/*********************************************************************************************************************************/
/*********************************************************** G.E.N.E.R.A.L ***********************************************************/
/*********************************************************************************************************************************/
.input-group .psw-show-btn {
  background: 0 0;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 5;
}

.btn-like-a {
  border: none;
  box-shadow: none;
  outline: 0;
}

.forgot-psw {
  color: #6d5f04;
}
.forgot-psw:hover {
  color: #6d5f04;
  text-decoration: none !important;
}

.form-check-input:focus {
  box-shadow: none;
}

.cs-validation .field .ui.prompt.label {
  background: 0 0 !important;
  border: none !important;
  color: #6d5f04 !important;
}

.ui.form .field.error label {
  color: #6d5f04;
}

.text-orange {
  color: #f4722b !important;
}

.theme-color {
  color: #666565 !important;
}

#cart_view_Modal .bg-secondary:hover {
  color: #fff;
}

.cart-empty {
  display: grid;
  min-height: 200px;
  place-items: center;
}
.cart-empty .svg-cart-icon svg {
  fill: #c3c3c3;
  height: 50px;
  width: 50px;
}

.bg-orange {
  background: #6d5f04 !important;
}

.cs-scrollbar {
  overflow-x: hidden;
  overflow-y: auto;
}

.table td, .table th {
  padding: 0.75rem;
}

.table > :not(caption) > * > * {
  border-bottom-width: 0;
}

.modal-dialog-centered {
  min-height: calc(100% - 3.5rem);
}

.modal-scrollable .modal-body {
  overflow: hidden;
  overflow-y: auto;
  max-height: 73vh;
}

.nice-select .list {
  width: 100%;
}

.custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 45px;
  opacity: 0;
}

.text-right {
  text-align: right !important;
}

.border-none {
  border: none !important;
}

.rotate-180 {
  transform: rotate(180deg);
}

.form-group {
  margin-bottom: 1rem;
}

.cart-icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  color: white;
  background: #6d5f04;
  cursor: pointer;
  transition: 0.4s;
  display: grid;
  place-items: center;
}
@media only screen and (max-width : 767px) {
  .cart-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .cart-icon .cart-num {
    min-height: 22px !important;
    min-width: 22px !important;
    font-size: 0.8rem !important;
  }
}
.cart-icon .cart-num {
  position: absolute;
  color: white;
  transition: 0.4s;
  background: #6d5f04;
  border: 1px solid white;
  min-height: 25px;
  min-width: 25px;
  text-align: center;
  border-radius: 50%;
  left: unset;
  font-size: 1rem;
  right: -10px;
  top: -10px;
  height: 20px;
  width: 20px;
  line-height: 20px;
}
.cart-icon .cart-num:hover {
  background: #3c3402;
}

.cart-icon {
  position: relative;
}

.section-gap {
  padding: 80px 0;
}

.username {
  position: relative;
}
.username:hover .sub-menu {
  top: calc(100% + 10px);
  opacity: 1;
  visibility: visible;
}
.username .user-sub {
  display: block;
}
.username .sub-menu {
  position: absolute;
  top: 130%;
  left: -10px;
  background: white;
  min-width: 160px;
  padding: 10px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  line-height: 24px;
}
@media only screen and (max-width : 767px) {
  .username .sub-menu {
    left: unset;
    right: -40px;
  }
}
.username .sub-menu a {
  color: #626262;
  display: block;
  padding: 5px 10px;
  font-size: 0.9rem;
}
.username .sub-menu a i {
  min-width: 20px;
  text-align: center;
}
.username .sub-menu a:hover {
  color: #f4722b;
}

.badge-warning {
  box-shadow: none;
  outline: none;
}
.badge-warning:hover, .badge-warning:focus {
  background: #e0570c !important;
  box-shadow: none !important;
  outline: none;
}

@media only screen and (max-width : 576px) {
  .order-now-page .leftSidebar .theiaStickySidebar .search-food .input-group i, .menu-page .leftSidebar .theiaStickySidebar .search-food .input-group i {
    top: 0 !important;
  }
  .order-now-page .leftSidebar .theiaStickySidebar .search-food input, .menu-page .leftSidebar .theiaStickySidebar .search-food input {
    height: 50px !important;
  }
  .order-now-page .leftSidebar .theiaStickySidebar .sidemenu h4, .menu-page .leftSidebar .theiaStickySidebar .sidemenu h4 {
    font-size: 19px !important;
  }
}

.btn-like-a {
  border: none;
  outline: none;
  box-shadow: none;
}
.btn-like-a:focus {
  box-shadow: none;
  outline: none;
}

.modal .modal-header button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  background: #6d5f04;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  opacity: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  outline: none;
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
  border: none;
}
.modal .modal-header button:hover {
  opacity: 0.8;
}
@media only screen and (max-width : 576px) {
  .modal .modal-header button {
    right: 18px;
    top: 18px;
    color: #6d5f04;
    background: none;
    font-size: 2rem;
  }
}
.modal .modal-header button span {
  font-size: 20px;
}

label {
  font-weight: 400 !important;
}

#user_login_Modal .modal-header, #forgot_psw_Modal .modal-header {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}
#user_login_Modal .modal-header .nav-tabs, #forgot_psw_Modal .modal-header .nav-tabs {
  justify-content: center;
  border: none;
}
#user_login_Modal .modal-header .nav-tabs .nav-link, #forgot_psw_Modal .modal-header .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-radius: 0;
  flex: 0 0 50%;
  background: #333;
  color: white;
  text-align: center;
}
#user_login_Modal .modal-header .nav-tabs .nav-link.active, #forgot_psw_Modal .modal-header .nav-tabs .nav-link.active {
  background: #6d5f04;
}
#user_login_Modal .modal-body label, #forgot_psw_Modal .modal-body label {
  text-transform: capitalize;
}
#user_login_Modal .modal-body .loginbtn, #forgot_psw_Modal .modal-body .loginbtn {
  background: #6d5f04;
  color: white;
  border: none;
  padding: 8px;
  transition: 0.3s;
}
#user_login_Modal .modal-body .loginbtn:hover, #forgot_psw_Modal .modal-body .loginbtn:hover {
  background: #333;
}
#user_login_Modal .modal-body .guest-loginbtn, #forgot_psw_Modal .modal-body .guest-loginbtn {
  background: #6d5f04;
  color: white;
  border: none;
  padding: 8px;
  transition: 0.3s;
}
#user_login_Modal .modal-body .guest-loginbtn:hover, #forgot_psw_Modal .modal-body .guest-loginbtn:hover {
  background: #333;
}
#user_login_Modal .modal-body .forgot-psw:hover, #forgot_psw_Modal .modal-body .forgot-psw:hover {
  border-bottom: 1px solid #6d5f04;
}
#user_login_Modal .modal-body .login_back:hover, #forgot_psw_Modal .modal-body .login_back:hover {
  color: #6d5f04;
}

.svg-cart-icon svg {
  height: 25px;
  width: 25px;
  fill: white;
}

/*********************************************************************************************************************************/
/*********************************************************** G.E.N.E.R.A.L***********************************************************/
/*********************************************************************************************************************************/
/*********************************************************************************************************************************/
/*********************************************************** S.T.Y.L.E ***********************************************************/
/*********************************************************************************************************************************/
.header {
  position: relative;
  width: 100%;
  z-index: 22;
  background: #fff;
}

.top-bar {
  background: #fff;
  position: relative;
  z-index: 1;
  padding: 8px 0;
  font-size: 14px;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width : 576px) {
  .top-bar {
    display: none;
  }
}
.top-bar .social-icons {
  display: flex;
  align-items: center;
}
.top-bar .social-icons li a {
  color: #666565;
  margin-left: 10px;
  transition: all linear 0.3s;
}
.top-bar .social-icons li a i {
  margin-right: 5px;
}

.nav-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-section .logo {
  max-width: 150px;
}
.nav-section .logo img {
  height: auto;
  width: 100%;
}
@media only screen and (max-width : 767px) {
  .nav-section .logo {
    max-width: 120px;
  }
}
.nav-section .nav-wrapper {
  z-index: 1022;
  position: fixed;
  background: #fff;
  height: 100%;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 300px;
  display: block;
  right: -100%;
  transition: 0.5s;
  opacity: 0;
}
@media only screen and (min-width: 1300px) {
  .nav-section .nav-wrapper {
    all: unset;
    position: static;
  }
  .nav-section .nav-wrapper .close {
    display: none;
  }
}
.nav-section .nav-wrapper.toggle {
  right: 0;
  opacity: 1;
}
.nav-section .nav-wrapper.toggle .navigation {
  margin-top: 30px;
}
.nav-section.onscroll {
  background: #fff;
  width: 100%;
  position: fixed;
  z-index: 999;
  animation: navscroll 0.5s forwards;
}
@keyframes navscroll {
  0% {
    top: -60px;
  }
  100% {
    top: 0;
  }
}
.nav-section .navigation {
  margin-top: 0px;
  margin-left: 15px;
}
.nav-section .navigation li {
  margin-right: 15px;
}
.nav-section .navigation li a {
  color: #1a1c23;
  padding: 10px 5px;
  display: inline-block;
  white-space: nowrap;
  border-bottom: 1px solid transparent;
  text-transform: capitalize;
  transition: 0.4s;
  font-weight: 400;
  font-size: 18px;
}
.nav-section .navigation li a:hover, .nav-section .navigation li a.active {
  color: #6d5f04;
}
.nav-section .navigation li a.theme-btn {
  color: white;
}
.nav-section .navigation .has-sub-menu {
  position: relative;
}
.nav-section .navigation .has-sub-menu #drop-icon {
  color: white;
  float: right;
  line-height: 35px;
  padding: 0 8px;
  display: none;
}
@media only screen and (max-width : 1199px) {
  .nav-section .navigation .has-sub-menu #drop-icon {
    display: inline;
  }
}
@media only screen and (max-width : 1199px) {
  .nav-section .navigation .has-sub-menu a i {
    display: none;
  }
}
.nav-section .navigation .has-sub-menu:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.nav-section .navigation .has-sub-menu .sub-menu {
  position: absolute;
  top: 130%;
  left: -20px;
  background: white;
  min-width: 200px;
  padding: 10px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width : 1199px) {
  .nav-section .navigation .has-sub-menu .sub-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    display: none;
    transition: none;
  }
}
.nav-section .navigation .has-sub-menu .sub-menu a {
  color: #626262;
  padding: 5px;
}
.nav-section .navigation .has-sub-menu .sub-menu a:hover {
  color: #f4722b;
}
@media only screen and (max-width : 991px) {
  .nav-section .navigation .has-sub-menu .sub-menu a {
    color: white;
  }
}
@media only screen and (min-width: 1300px) {
  .nav-section .navigation {
    all: unset;
    display: flex;
    list-style: none;
  }
}
.nav-section .nav-icons {
  display: flex;
  align-items: center;
}
.nav-section .nav-icons .login {
  font-size: 12px;
  color: #000;
  line-height: 15px;
}
.nav-section .nav-icons .login span {
  color: #666;
}
.nav-section .nav-icons .user-icon {
  border-bottom: 1px solid transparent;
  display: inline-block;
}
@media only screen and (max-width : 576px) {
  .nav-section .nav-icons .user-icon {
    border-bottom: none !important;
  }
}
.nav-section .nav-icons .user-icon:hover {
  border-bottom: 1px solid white;
}
@media only screen and (min-width: 1300px) {
  .nav-section .nav-icons #menu-bar {
    display: none !important;
  }
}
.nav-section .nav-icons .theme-btn {
  border: 1px solid #6d5f04;
  color: white;
}
.nav-section .nav-icons .theme-btn:hover {
  background: transparent !important;
  border: 1px solid #6d5f04;
  color: #6d5f04;
}

.text-primary {
  color: #6d5f04 !important;
}

.theme-btn {
  display: inline-block;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  padding: 12px 30px;
  margin-right: 15px;
  border-radius: 5px;
  background: linear-gradient(to right, #141414 0%, #ddc006 100%);
  border-radius: 5px;
}
.theme-btn.big {
  background: #2c2b30;
  background: -moz-linear-gradient(top, #2c2b30 0%, #050407 100%);
  background: -webkit-linear-gradient(top, #2c2b30 0%, #050407 100%);
  background: linear-gradient(to bottom, #2c2b30 0%, #050407 100%);
  border-radius: 30px;
  padding: 10px 30px;
  box-shadow: 0px 21px 10px -10px rgba(0, 0, 0, 0.31);
  transition: all ease-in-out 300ms;
  color: #fff;
}
.theme-btn.big:hover {
  background: linear-gradient(to bottom, #2c2b30 0%, #050407 100%);
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  transform: translate(0px, -10px) scale(1.1);
  color: #fff;
}
.theme-btn.bg-white {
  border: 1px solid transparent;
  color: #626262 !important;
}
.theme-btn.bg-white:hover {
  border: 1px solid white !important;
  background: white !important;
  color: #6d5f04 !important;
}
.theme-btn.outline {
  background: transparent;
  border: 1px solid white;
}
.theme-btn.outline:hover {
  background: white;
  color: black;
}
.theme-btn:hover {
  background: linear-gradient(to right, #141414 37.36%, #ddc006 71.43%);
  color: #fff;
}
.theme-btn:focus {
  outline: none;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.scroll-to-top {
  position: fixed;
  z-index: 999;
  bottom: -60px;
  right: 8px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background: #6d5f04;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.scroll-to-top.top-arrow {
  bottom: 60px;
}
.scroll-to-top:hover {
  background: #f4722b;
}

.home-slider .hero-content h1 {
  color: #000;
  margin: 0 0 15px;
  font-size: 50px;
  font-weight: 700 !important;
  line-height: 75px;
  text-transform: capitalize;
}
@media only screen and (max-width : 991px) {
  .home-slider .hero-content h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width : 576px) {
  .home-slider .hero-content h1 {
    font-size: 30px !important;
    line-height: 50px !important;
  }
}
.home-slider .hero-content p.text-sm {
  font-size: 16px;
  line-height: 1.4;
  color: #8D979E;
  font-weight: 400;
  padding-left: 16px;
  border-left: 2px solid #dcdcdc;
  margin-bottom: 22px !important;
}
.home-slider .hero-content .video-play {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  color: #727272;
}
.home-slider .hero-content .video-play i {
  margin-right: 9px;
  vertical-align: top;
  font-size: 14px;
  color: #6d5f04;
}
.home-slider .hero-content .video-play i::before {
  vertical-align: middle;
  font-size: 16px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 100%;
  text-align: center;
  display: inline-block;
  background: #fff;
}

.home-slider {
  position: relative;
  z-index: 0;
}
.home-slider .owl-carousel .owl-item.active .animate-2 {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
.home-slider .owl-carousel .owl-item.active .animate-1 {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
.home-slider .owl-carousel .owl-item.active .animate-3 {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}
.home-slider .owl-carousel .owl-item.active .animate-4 {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: zoomIn;
  animation-delay: 0.7s;
}
.home-slider .owl-carousel .owl-item.active .animate-btn {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}
.home-slider .owl-carousel .item {
  height: 90vh;
  min-height: 550px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  transition: matrix(1, 0, 0, 1, 0, 0);
}
@media only screen and (max-width : 1199px) {
  .home-slider .owl-carousel .item {
    height: auto;
  }
}
@media only screen and (max-width : 991px) {
  .home-slider .owl-carousel .item {
    height: auto;
  }
}
@media only screen and (max-width : 576px) {
  .home-slider .owl-carousel .item {
    height: 70vh;
  }
}
.home-slider .owl-carousel .item .slider-content {
  padding: 150px 0;
}
.home-slider .owl-carousel .owl-prev {
  position: absolute;
  right: 100px;
  top: 80%;
  background: none;
  font-size: 1.5rem;
  line-height: 45px;
}
.home-slider .owl-carousel .owl-prev:hover {
  background: none;
}
.home-slider .owl-carousel .owl-next {
  position: absolute;
  right: 10px;
  top: 80%;
  background: none;
  font-size: 1.5rem;
  line-height: 45px;
}
.home-slider .owl-carousel .owl-next:hover {
  background: none;
}
@media only screen and (max-width : 576px) {
  .home-slider .owl-carousel .owl-nav {
    margin-top: 0;
    opacity: 0;
  }
}
.home-slider .owl-carousel .owl-nav button {
  border-radius: 0 !important;
  height: 60px;
  width: 60px;
  line-height: 60px;
  font-size: 1.5rem;
  background: #fff !important;
  color: #000 !important;
}
.home-slider .owl-carousel .owl-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.home-slider .owl-carousel .owl-dots .owl-dot span {
  background: white;
  width: 12px;
  height: 12px;
  transition: 0.3s;
}
.home-slider .owl-carousel .owl-dots .owl-dot.active span {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

.statistics {
  background: #fbf9ff;
  box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.1);
}

.special-item {
  position: relative;
  padding-bottom: 120px;
}
.special-item .col-xl-2 {
  flex: 0 0 auto;
  width: 20%;
}
@media only screen and (max-width : 576px) {
  .special-item .col-xl-2 {
    width: 100%;
  }
}
.special-item .menu-top-bg {
  top: -50px;
  position: absolute;
  left: 0;
  width: 100%;
}
.special-item .menu-top-bg img {
  width: 100%;
}
.special-item .special-tab .nav-tabs {
  border: unset;
}
.special-item .special-tab ul {
  display: inline-block;
  border-radius: 50px;
}
@media only screen and (max-width : 576px) {
  .special-item .special-tab ul {
    background: transparent;
  }
}
.special-item .special-tab li {
  display: inline-block;
  margin: 0 5px;
}
@media only screen and (max-width : 576px) {
  .special-item .special-tab li {
    margin: 10px;
  }
}
.special-item .special-tab li.active a {
  border: 1px solid #6d5f04;
  border-radius: 5px;
  color: #6d5f04;
}
.special-item .special-tab a {
  display: inline-block;
  color: #000;
  transition: all 400ms ease;
  font-size: 14px;
  padding: 10px 28px;
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  font-weight: 500;
}
@media only screen and (max-width : 576px) {
  .special-item .special-tab a {
    padding: 10px 20px;
    font-size: 13px;
  }
}
.special-item .special-tab a img {
  margin-right: 10px;
}
.special-item .special-tab a.active {
  background: #6d5f04;
  border-radius: 50px;
  color: #fff;
}
.special-item .menu-bottom-bg {
  position: absolute;
  bottom: -90px;
  left: 0;
  width: 100%;
}
.special-item .menu-bottom-bg img {
  width: 100%;
}
.special-item .menu-title {
  font-size: 16px;
  color: #000;
  padding-top: 15px;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.special-item .menu-title:hover {
  color: #6d5f04;
}
.special-item .menu-price {
  margin: 0 0 10px 0;
  line-height: 18px;
  font-size: 14px;
  font-weight: 700;
  color: #6d5f04;
}
@media only screen and (max-width : 991px) {
  .special-item .menu-price {
    margin-bottom: 10px !important;
  }
}
.special-item .menu-des {
  font-size: 14px;
  color: #999999;
  letter-spacing: 1px;
  padding-bottom: 12px;
}
.special-item .menu-img .menu-image {
  height: auto;
  transition: all 0.4s ease-in;
}
.special-item .cart-btn {
  width: 35px;
  height: 35px;
  display: flex;
  margin-top: 8px;
  border: none;
  background-color: #ebebeb;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.special-item .cart-btn img {
  height: 20px;
  width: auto;
  transition: filter 0.3s ease;
}
.special-item .cart-btn:hover {
  background-color: #6d5f04;
}
.special-item .cart-btn:hover img {
  filter: brightness(0) invert(1);
}
.special-item .menu-img {
  width: 100%;
  min-height: 150px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px;
  margin-bottom: 10px;
}
.special-item .menu-img:hover img {
  transform: scale(1.05);
}
.special-item .menu-img .fav-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: #CFC9B4;
  transition: 0.4s;
}
.special-item .menu-img .fav-btn:hover {
  color: #e92026;
}
.special-item .theme-btn {
  color: #292929 !important;
  background-color: #d5e9bd;
  border-color: #d5e9bd;
  font-weight: 600;
}
.special-item .theme-btn:hover {
  background-color: #6d5f04;
  border-color: #6d5f04;
  box-shadow: inset 150px 0 0 0 #6d5f04;
  color: #fff !important;
}
.special-item .card {
  border-radius: 5px;
  border: none;
  background: #fff;
  transition: 0.4s;
}
.special-item .product_s .card {
  box-shadow: none;
}
.special-item .product_s .card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.09);
  transform: scale(1.05);
}
.special-item .card-body {
  padding: 0;
  text-align: left;
}
.special-item .bottom-area {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
@media only screen and (max-width : 991px) {
  .special-item .bottom-area {
    display: block;
  }
}

.heading-part .heading-sub {
  font-size: 30px;
  color: #6d5f04;
  font-family: "Pacifico", cursive;
}
@media only screen and (max-width : 576px) {
  .heading-part .heading-sub {
    font-size: 20px;
  }
}
.heading-part .heading-title {
  font-size: 70px;
  line-height: 58px;
  letter-spacing: 2px;
  color: #000;
}
@media only screen and (max-width : 576px) {
  .heading-part .heading-title {
    font-size: 30px;
    line-height: 30px;
  }
}

.rating {
  font-size: 11px;
  color: rgba(27, 27, 27, 0.7);
  font-weight: 600;
}
.rating .rating-inner {
  margin: 0 10px;
  display: inline-flex;
}
.rating .rating-inner i {
  padding: 0 3px;
  color: #ccc !important;
}

.service-wrap img {
  border-radius: 10px;
}
@media only screen and (max-width : 576px) {
  .service-wrap img {
    margin-top: 10px;
  }
}

.footer {
  background: linear-gradient(to right, #141414 0%, #ddc006 100%);
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 265px;
  pointer-events: none;
  z-index: 1 !important;
}
.footer p, .footer a {
  color: #fff;
}
.footer .c_wrap div {
  color: #b3b3b3;
  font-size: 14px;
  margin-bottom: 23px;
  line-height: 26px;
}
.footer .c_wrap div span {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
.footer .footer-logo {
  max-width: 130px;
}
.footer .footer-logo img {
  max-width: initial;
}
.footer .footer-links h4 {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  margin-bottom: 40px !important;
}
.footer .icon {
  color: #ddd;
}
.footer .footer-links a {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  position: relative;
  margin-block: 20px;
  display: block;
  transition: all 0.2s ease-in-out 0s;
}
.footer .footer-links a:hover {
  margin-left: 10px;
}
.footer .footer-links img {
  border-radius: 15px;
  min-height: 90px;
  max-width: 100%;
}
.footer .other-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .other-links a {
  font-size: 14px;
  color: #ddd;
}
.footer .other-links .seperator {
  height: 20px;
  border-right: 2px solid #b2b2b2;
}

.copyright {
  background: #141414;
}
.copyright p {
  margin-bottom: 0;
  color: #fff;
  font-size: 15px;
}

.social-links {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
@media only screen and (max-width : 991px) {
  .social-links {
    justify-content: left;
  }
}
@media only screen and (max-width : 576px) {
  .social-links {
    justify-content: left;
  }
}
.social-links .icon {
  padding: 8px 10px;
}
.social-links .icon i {
  color: white;
  font-size: 1.1rem;
}
.social-links a {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 14px !important;
  color: #232228;
  background: #fff;
  display: inline-block;
  border-radius: 50px;
  margin-right: 10px;
  transition: 0.3s;
}
.social-links a i {
  color: #232228;
}
.social-links a:hover {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px) scale(1.1);
  background: #6d5f04;
}
.social-links a:hover i {
  color: white;
}

.flogo {
  max-width: 140px;
  margin-bottom: 20px;
}

.back-gradient {
  background: linear-gradient(to right, #141414 0%, #ddc006 100%);
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  padding: 14px 15px;
  border-radius: 5px;
  margin-bottom: 12px;
  display: inline-block;
}
.back-gradient:hover {
  background: linear-gradient(to right, #141414 37.36%, #ddc006 71.43%);
}

.place-holder-1 {
  margin-bottom: 20px;
}

.counters-num {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 60px;
  margin-bottom: 0;
  margin-right: 30px;
  background: linear-gradient(to right, #141414 0%, #ddc006 100%);
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 5px;
}
@media only screen and (max-width : 576px) {
  .counters-num {
    margin-right: 0;
    padding: 30px;
  }
}
.counters-num:hover {
  background: linear-gradient(to right, #141414 37.36%, #ddc006 71.43%);
}
.counters-num .item {
  text-align: center;
  font-size: 50px;
  line-height: 63px;
  font-weight: 700;
  color: #fff;
  width: 33.33%;
  border-right: 1px solid #fff;
}
@media only screen and (max-width : 1199px) {
  .counters-num .item {
    font-size: 2rem;
  }
}
@media only screen and (max-width : 576px) {
  .counters-num .item {
    font-size: 2rem;
    line-height: 40px;
  }
}
.counters-num .item:last-child {
  border-right: none;
}
.counters-num .item .js-counter {
  margin-bottom: 4px;
}
.counters-num .item p {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0;
}

.item-slider.owl-carousel .owl-prev {
  position: absolute;
  left: 10px;
  top: 35%;
  background: none;
  font-size: 1.5rem;
  line-height: 45px;
}
.item-slider.owl-carousel .owl-prev:hover {
  background: none;
}
.item-slider.owl-carousel .owl-prev .owl-next {
  position: absolute;
  right: 10px;
  top: 35%;
  background: none;
  font-size: 1.5rem;
  line-height: 45px;
}
.item-slider.owl-carousel .owl-prev .owl-next:hover {
  background: none;
}
@media only screen and (max-width : 576px) {
  .item-slider.owl-carousel .owl-prev .owl-nav {
    margin-top: 0;
    opacity: 0;
  }
}
.item-slider.owl-carousel .owl-prev .owl-nav button {
  border-radius: 0 !important;
  height: 54px;
  width: 54px;
  line-height: 54px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  font-size: 1.5rem;
  background: #fff !important;
  color: #000 !important;
}

.testimonial {
  background: rgb(237, 240, 245);
  position: relative;
}
.testimonial .tm_single {
  padding: 50px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out 0s;
  background: #fff;
  position: relative;
}
@media only screen and (max-width : 576px) {
  .testimonial .tm_single {
    margin-top: 30px;
  }
}
.testimonial .tm_single:hover .tm_author img {
  transform: rotateY(180deg);
}
.testimonial .tm_single .tm_top {
  margin-bottom: 22px;
}
.testimonial .tm_single .tm_author {
  width: 55px;
  height: 55px;
  overflow: hidden;
  border-radius: 7px;
  transition: all 0.3s ease-in-out 0s;
}
.testimonial .tm_single .tm_author img {
  transform: rotateY(0deg);
  transition: all 1.2s ease 0s;
}
.testimonial .tm_single .tm_bottom {
  margin-top: 40px;
}
.testimonial .tm_single .rating_wrap .rating_star {
  margin-bottom: 3px;
}
.testimonial .tm_single .a_info h5 {
  font-size: 24px;
  text-transform: capitalize;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  margin-bottom: 3px;
}

.rating_star li {
  color: #feab2f;
  font-size: 15px;
  margin-right: 4px;
}

.ul_li,
.ul_li_right,
.ul_li_center {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.item-1::before {
  content: "";
  width: 117px;
  height: 90px;
  border-radius: 5px;
  display: inline-block;
  background: linear-gradient(to right, #141414 37.36%, #ddc006 71.43%);
  opacity: 0.4;
  position: absolute;
  bottom: -100px;
  left: 75px;
}
@media only screen and (max-width : 576px) {
  .item-1::before {
    display: none;
  }
}

.item-3::before {
  content: "";
  width: 117px;
  height: 90px;
  border-radius: 5px;
  display: inline-block;
  background: linear-gradient(to right, #141414 37.36%, #ddc006 71.43%);
  opacity: 0.4;
  position: absolute;
  top: -100px;
  left: 0;
}
@media only screen and (max-width : 576px) {
  .item-3::before {
    display: none;
  }
}
.item-3::after {
  content: "";
  width: 232px;
  height: 232px;
  display: inline-block;
  background: linear-gradient(to right, #141414 37.36%, #ddc006 71.43%);
  opacity: 0.4;
  position: absolute;
  bottom: -160px;
  left: -116px;
  background-size: 50% 50%;
  background-position: 100% 100%, 0% 100%, 100% 0%, 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
}
@media only screen and (max-width : 576px) {
  .item-3::after {
    display: none;
  }
}

.newsletter {
  background: rgb(237, 240, 245);
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 15px;
  padding: 50px 70px 50px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-image: url(../img/wholesale-singing-bowl.jpg);
  position: relative;
  margin-bottom: -200px;
  z-index: 2 !important;
}
@media only screen and (max-width : 576px) {
  .newsletter {
    padding: 30px;
  }
}
.newsletter .form-group {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0;
  display: flex;
  margin: 0;
}
.newsletter .form-group input {
  background-color: #fff;
  border-radius: 5px;
  height: 52px;
  line-height: 52px;
  font-size: 16px;
  line-height: 20px;
  color: #727272;
  border: none;
  margin-right: 20px;
  box-shadow: none;
  padding: 0 0 0 20px;
}
.newsletter .form-group button {
  border: 0 none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  height: 52px;
  line-height: 52px;
  padding: 0 28px;
  text-transform: capitalize;
  margin-bottom: 0;
  background: linear-gradient(to right, #141414 0%, #ddc006 100%);
  border-radius: 5px;
}
@media only screen and (max-width : 576px) {
  .newsletter .p-style p {
    display: none;
  }
}

.why_choose_item h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  color: #000;
  margin-bottom: 7px;
}
.why_choose_item img {
  height: auto;
  width: auto;
  transition: all 0.2s ease-in-out 0s;
  margin-top: 10px;
}
.why_choose_item:hover img {
  transform: translateY(-10px);
}

.sticky-icon {
  z-index: 3;
  position: fixed;
  top: 25%;
  right: 0%;
  width: 160px;
  display: flex;
  flex-direction: column;
}
.sticky-icon a {
  transform: translate(110px, 0px);
  border-radius: 0;
  text-align: left;
  margin: 0;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px;
  font-size: 14px;
  transition: all 0.8s;
}
.sticky-icon a:hover {
  color: #FFF;
  transform: translate(0px, 0px);
}
.sticky-icon a i {
  transform: rotate(360deg);
}
.sticky-icon a i {
  background-color: transparent;
  height: 30px;
  width: 30px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.5s;
}

.icon {
  background-color: #6d5f04;
  color: #FFF;
  border-bottom: 1px solid #fff;
}

/*********************************************************************************************************************************/
/*********************************************************** S.T.Y.L.E ***********************************************************/
/*********************************************************************************************************************************/
@media (max-width: 1024px) {
  .navbar-dark .navbar-nav .nav-link {
    font-size: 12px;
  }
}
@media (max-width: 912px) {
  .header-down {
    display: none !important;
  }
  .mobilenav {
    display: block !important;
  }
  .mobilenav.card {
    border: none;
  }
  .btn_2 {
    display: none;
  }
  .logo_img {
    width: 90px;
  }
  .btn_1 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .off .off-section-main {
    top: 25%;
    left: 3%;
  }
  .media-padding {
    padding: 30px;
  }
  .text-media {
    text-align: left !important;
  }
  .heading1 {
    font-size: 40px;
    line-height: 40px;
  }
  .indexpage .carousel-inner {
    padding-top: 50px;
  }
  .ban_image.img-1 {
    top: 15%;
    left: 91%;
  }
  .ban_image.img-3 {
    left: 56%;
    top: 50%;
    height: 120px;
  }
  .banner-section {
    min-height: 200px;
    padding-top: 50px;
  }
  .free_delivery span:before {
    left: 54.3%;
  }
  .off {
    background-attachment: scroll;
  }
  .free-delivery-section .free_delivery_detail::after {
    left: 24%;
  }
}
@media (max-width: 820px) {
  .header-down {
    display: none !important;
  }
  .mobilenav {
    display: block !important;
  }
  .mobilenav.card {
    border: none;
  }
  .btn_2 {
    display: none;
  }
  .logo_img {
    width: 90px;
  }
  .btn_1 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .off .off-section-main {
    top: 25%;
    left: 3%;
  }
  .media-padding {
    padding: 30px;
  }
  .text-media {
    text-align: left !important;
  }
  .heading1 {
    font-size: 40px;
    line-height: 40px;
  }
  .indexpage .carousel-inner {
    padding-top: 50px;
  }
  .ban_image.img-1 {
    top: 15%;
    left: 80%;
  }
  .ban_image.img-3 {
    left: 56%;
    top: 50%;
    height: 120px;
  }
  .banner-section {
    min-height: 200px;
    padding-top: 50px;
  }
  .free_delivery span:before {
    left: 61.3%;
  }
  .off {
    background-attachment: scroll;
  }
}
@media (max-width: 600px) {
  .indexpage .carousel-inner {
    padding-top: 50px;
  }
  .banner-section {
    background: #f4ecdf !important;
    min-height: auto;
    padding-top: 10px;
  }
  .banner-section .breadcrumb-data h2 {
    font-size: 30px;
  }
  .section-gap {
    padding: 40px 0;
  }
  .header-down {
    display: none !important;
  }
  .heading1 {
    font-size: 29px;
    line-height: 30px;
  }
  .ban_image.img-1 {
    display: none;
  }
  .ban_image.img-3 {
    left: 30px;
    top: 70%;
    height: 120px;
  }
  .media-padding {
    text-align: center;
    padding: 30px 10px !important;
  }
  .free_delivery span:before {
    display: none;
  }
}
@media (width: 540px) {
  .ban_image.img-1 {
    display: none;
  }
  .ban_image.img-3 {
    left: 15%;
  }
  .text-media {
    text-align: center !important;
  }
}/*# sourceMappingURL=main.css.map */